################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bootstrapper/v15
/Bootstrapper/obj/Debug
/SetupProject1/bin/Debug
/SetupProject1/obj/Debug
/SetupProject2/bin/Debug
/SetupProject2/obj/Debug
/Bootstrapper/bin/Debug
/CustomAction/bin/Debug
/CustomAction/obj/x86/Debug
/packages
/InstallerUI/bin/Debug
/InstallerUI/obj/Debug
/Publish/MySQL
/.vs/Bootstrapper/DesignTimeBuild
/Bootstrapper/bin/Release/Bootstrapper.exe
/Bootstrapper/bin/Release/Bootstrapper.wixpdb
/Bootstrapper/obj/Release
/CustomAction/bin/Release
/CustomAction/obj/x86/Release
/InstallerUI/bin/Release
/InstallerUI/obj/Release
/SetupProject1/bin/Release
/SetupProject1/obj/Release
/SetupProject2/bin/Release
/SetupProject2/obj/Release
