<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Bundle Name="!(loc.BundleName)" Version="1.0.0.0" Manufacturer="!(loc.Manufacturer)" UpgradeCode="cb364e19-9cd1-4de5-aef7-48d41bde0a4c">

		<!--<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<Payload SourceFile="License.rtf" Compressed="yes" />
			<bal:WixStandardBootstrapperApplication
				SuppressOptionsUI="no"
				ThemeFile="CustomTheme.xml"
				LocalizationFile="Localization.wxl"
				LicenseFile="License.rtf"
				SuppressRepair="yes"
				SuppressDowngradeFailure="yes">
			</bal:WixStandardBootstrapperApplication>
		</BootstrapperApplicationRef>-->

		<BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
			<Payload Name="BootstrapperCore.config" SourceFile="$(var.InstallerUI.TargetDir)InstallerUI.BootstrapperCore.config" />
			<Payload SourceFile="$(var.InstallerUI.TargetPath)" />
			<Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.Mvvm.dll" />
			<Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.Mvvm.Desktop.dll" />
			<Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.SharedInterfaces.dll" />
			<Payload SourceFile="$(var.InstallerUI.TargetDir)Newtonsoft.Json.dll" />
		</BootstrapperApplicationRef>

		<WixVariable Id="WixMbaPrereqLicenseUrl" Value="Licence.txt" />

		<Chain>
			<!-- This will install .Net 4.6.2 from the Web (built in to Wix) -->
			<PackageGroupRef Id="NetFx462Web"/>
			
			<!-- This will install .Net 4.6.2 from the embedded installer using InstallNetFx.wxs-->
			<!--
			<PackageGroupRef Id='NetFx462Redist' />
			-->
			<!-- These will install .Net Core2.0 from an embedded installer using InstallNetFx.wxs -->
			<!--
			<PackageGroupRef Id='NetCore2_X64' />
			<PackageGroupRef Id='NetCore2_X86' />
			-->
			<PackageGroupRef Id="InstallIIS" />

			<RollbackBoundary />
			<MsiPackage Id="SetupProject1"
						DisplayName="!(loc.SetupProject1)"
						SourceFile="$(var.SetupProject1.TargetPath)"
						Visible="yes" 
						DisplayInternalUI="yes">
			</MsiPackage>
			<MsiPackage Id="SetupProject2"
						DisplayName="!(loc.SetupProject2)"
						SourceFile="$(var.SetupProject2.TargetPath)"
						Visible="yes">
			</MsiPackage>
		</Chain>
	</Bundle>


</Wix>
